h3 {
    color: green;
}

h4 {
    color: blue;
}

.divImagens {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.divContatos {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

.divLinks {
    border: 1px solid black;
    width: 80px;
    height: 20px;
}

.divContatos a img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}
