@import url('variable.css');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Verdana", sans-serif;
    background: var(--background-body, #ffeb87);
    padding-top: 40px;
    color: var(--color-body, #333);
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    color: var(--color-a, #f23e02);
    text-decoration: none;
    transition: all 200ms;
}

a:hover,
a:focus {
    color: var(--link-hover, #9f2b05);
}

article {
    min-height: 50vh;
    margin-bottom: 10px;
}

.margin {
    margin-bottom: 100vh;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.copy-button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--color-a, #f23e02);
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.contact-info {
    margin-bottom: 20px;
}

.div.container {
    font-family: Raleway;
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
}

.experiencia {
    background-color: var(--experience-background-color, #fff);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.experiencia h3 {
    font-size: 1.5em;
    color: var(--experience-h3-color, #333);
}

.experiencia h4 {
    margin-top: 15px;
    font-size: 1.2em;
    color: var(--experience-h4-color, #333);
}

.experiencia p {
    font-size: 1em;
    line-height: 1.5;
    color: var(--experience-p-color, #666);
}

.experiencia ul {
    list-style-type: none;
    padding: 0;
}

.experiencia li {
    font-size: 1em;
    color: var(--experience-li-color, #333);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.hardskill {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: box-shadow var(--transition-speed), transform var(--transition-speed);
    margin-left: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    border: 5px solid #fef5c8;
}

.image-certificates {
    border: 2px;
    width: 1%;
    object-fit: contain;
}

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #fef5c8;
}

.main-navigation ul {
    flex-direction: column;
}

.main-navigation li {
    margin-bottom: 10px;
    font-size: large;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    padding: 15px 20px;
    color: var(--nav-color-a, #fef5c8);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s, background-color 0.3s;
}

.nav a.active {
    color: blueviolet;
}

.nav a:hover,
.nav a:focus {
    color: var(--nav-color-a-hover, #013750);
    background-color: var(--nav-color-a-focus, #fef5c8);
    border-radius: 10px;
}

.progress-bar {
    width: 100px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
}

.progress-bar-change {
    background-color: var(--progress-bar-change, #00988d);
    width: var(--progress, 0%);
    height: 100%;
    transition: width var(--transition-speed);
}

.projeto {
    background-color: var(--project-background-color, #fff);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.projeto a img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projeto h2 {
    font-size: 1.5em;
    color: var(--project-h2-color, #333);
}

.projeto h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--project-h3-color, #333);
}

.projeto p {
    font-size: 1em;
    line-height: 1.5;
    color: var(--project-p-color, #666);
}

.projeto ul {
    list-style-type: none;
    padding: 0;
}

.projeto li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--project-li-color, #333);
}

.site-footer {
    background-color: var(--background-footer, #013750);
    color: var(--copy-right-color, #fef5c8);
    text-align: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
}

.site-footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.site-footer .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.site-footer .social-icons a {
    color: var(--social-icons-color, #fef5c8);
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.site-footer .social-icons a:hover {
    color: var(--social-icons-color-hover, #f23e02);
}

.site-footer .copyright-text {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 480px) {
    #sobre-mim h1 {
        font-size: 1.5em;
    }

    #sobre-mim h2 {
        font-size: 1.2em;
    }

    #sobre-mim p {
        font-size: 1em;
    }

    .container {
        padding: 3em 1em;
    }

    .image {
        width: 200px;
        height: 200px;
    }

    .nav a {
        padding: 8px;
        font-size: 0.9em;
    }

    .experiencia,
    .projeto {
        margin: 5px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 5em 1em;
    }

    .experiencia,
    .projeto {
        padding: 15px;
        margin: 10px 0;
    }

    .hardskill {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .progress-bar {
        width: 80px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        padding: 10px;
        font-size: 1em;
    }

    #sobre-mim h1 {
        font-size: 2em;
    }

    #sobre-mim h2 {
        font-size: 1.5em;
    }

    #sobre-mim p {
        font-size: 1.2em;
    }

    .image {
        width: 300px;
        height: 300px;
    }

    .site-footer {
        padding: 10px 0;
    }

    .site-footer .container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .main-navigation ul {
        flex-direction: column;
    }

    .main-navigation li {
        margin-bottom: 10px;
        font-size: large;
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .nav a {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    #sobre-mim h1 {
        font-size: 1.5em;
    }

    #sobre-mim h2 {
        font-size: 1.2em;
    }

    #sobre-mim p {
        font-size: 1em;
    }

    .container {
        padding: 3em 1em;
    }

    .image {
        width: 200px;
        height: 200px;
    }

    .nav a {
        padding: 8px;
        font-size: 0.9em;
    }

    .experiencia,
    .projeto {
        margin: 5px;
        padding: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#experiencia-profissional>h2 {
    text-align: left;
    padding: 20px;
}

#meus-projetos>h2 {
    text-align: left;
    padding: 20px;
}

#sobre-mim {
    background-color: var(--background-sobre-mim, #2c6b74);
    text-align: center;
    color: var(--color-sobre-mim, #c3ccaf);
    margin: 0;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

#sobre-mim h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fef5c8;
}

#sobre-mim h2 {
    font-size: 1.9em;
    margin: 10px 0;
    color: #fef5c8;
}

#sobre-mim p {
    font-size: 1.6em;
    margin: 20px auto;
    max-width: 1100px;
}