@import url(variable.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

h1 {

    text-align: left;
    color: rgb(0, 0, 0);
    font-family: verdana;
}

h3 {
    font-family: verdana;
    text-align: left;
    color: rgb(0, 0, 0);

}

h4 {
    font-family: verdana;
    text-align: left;
    color: rgb(0, 0, 0);

}

.divImagens {
    width: 150px;
    height: 150px;
}

.divLinks {
    border: 1px solid black;
    width: 80px;
    height: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

p.dashed {
    border-style: dashed;
}

.site-header,
.site-footer {
    background-color: rgb(28, 44, 30);
    color: white;
    text-align: right;
}

<a href="https://www.linkedin.com/in/renatoaugustoplatzgneto/" target="_blank" rel="noopener noreferrer"
title="Enviar e-mail"><img src="img/linkedin.png" alt="E-mail" style="width:45px;height:46px;"></a><a href="https://github.com/netorapg" target="_blank" rel="noopener noreferrer"

title="Enviar e-mail"><img src="img/icons8-github-240.png" alt="Github" style="width:50px;height:50px;"></a>body {
    font-family: verdana;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);


}

.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.main-navigation a {
    color: white;
    text-decoration: none;

}

.main-navigation ul li {
    padding: 0 15px;

}

* {
    padding: 0;
    margin: 0;
    font-family: verdana;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;


}


.project-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-item {
    border: 2px;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 1px #333;
    padding: 10px;
    margin: 10px;
    transition: box-shadow var(--transition-speed);

}

.project-item img {
    border: 2px;
    width: 100%;
    object-fit: contain;
}

.project-item:hover {
    box-shadow: 0 0 15px green;
}

.projects {
    border: 2px;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 1px #333;
    padding: 10px;
    margin: 10px;
    transition: box-shadow var(--transition-speed);
}

.projects img {
    border: 2px;

    object-fit: contain;
}


.projects:hover {
    box-shadow: 0 0 15px green;
}

.hardskill {
    border: 2px;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 1px #333;
    padding: 10px;
    margin: 10px;
    transition: box-shadow var(--transition-speed);
}

.hardskill:hover {
    box-shadow: 0 0 15px green;

}

.hardskill img {
    border: 2px;
    border-radius: 100%;
    width: 15%;
    float: left;
    object-fit: contain;
    margin-right: 10px;
}

.carteirinha {
    border: 2px;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 1px #333;
    padding: 10px;
    margin: 10px;
}

.carteirinha:hover {
    box-shadow: 0 0 15px green;
}

.carteirinha img {
    border: 2px;
    border-radius: 100%;
    float: left;
    object-fit: contain;
    margin-right: 10px;
    animation: fadeIn 2s ease-in-out;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.certificates {
    border: 2px;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 1px #333;
    padding: 10px;
    margin: 10px;
    transition: box-shadow var(--transition-speed);
}

.certificates:hover {
    box-shadow: 0 0 15px green;
}

.certificates img {
    border: 2px;
    width: 10%;
    object-fit: contain;

}

.project-info {
    padding: 10px;
    width: 20%;
}

.project-info p {
    font-size: 15px;
    color: rgb(0, 0, 0);

}

.progress-bar {

    height: 20%;
    width: 60%;
    padding: 5px;
    background-color: #ccc;
    display: flex;
    border: 2px;
    border-radius: 15px;
}

.progress-bar-change {
    --progress: 75;
}

.progress-bar-change1 {
    --progress: 65;
}

.progress-bar-change2 {
    --progress: 70;
}

.progress-bar-change3 {
    --progress: 65;
}

.progress-bar-change4 {
    --progress: 20;
}

.progress-bar-change5 {
    --progress: 20;
}

.progress-bar-change6 {
    --progress: 45;
}

.progress-bar-change7 {
    --progress: 45;
}

.progress-bar-change8 {
    --progress: 45;
}

.progress-bar-change9 {
    --progress: 45;
}

.progress-bar-change10 {
    --progress: 45;
}

.progress-bar-change11 {
    --progress: 45;
}

.progress-bar-change12 {
    --progress: 45;
}

.progress-bar-change13 {
    --progress: 45;
}

.progress-bar-change14 {
    --progress: 45;
}

.progress-bar-change15 {
    --progress: 45;
}


.progress-bar::before {
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl(calc(var(--progress) * 1.2), 80%, 50%);
    transition: all 0.2s ease;
    border-radius: 15px;
}


@media screen and (max-width: 768px) {
    .main-navigation ul {
        flex-direction: column;
    }

    .main-navigation li {
        margin-bottom: 10px;
        font-size: large;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.button {
    width: 50px;
    height: 50px;
    background-color: #e6d1ff;
    border-radius: 15px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    filter: drop-shadow(2px 2px 8px #333333);
}


.button:hover {
    box-shadow: 0 0 15px green;
}