/* variable.css */

/* Tema escuro */
[data-tema='dark'] {
    --background-body: #311d39;
    --background-container: #555353;
    --color-body: #c3ccaf;
    --background-sobre-mim: #6a0e47;
    --color-sobre-mim: #fef5c8;
    --color-h1: #b50d57;
    --color-a: #ff0d66;
    --background-footer: #6a0e47;
    --social-icons-color: #dec790;
    --social-icons-color-hover: #ff0d66;
    --copy-right-color: #ff0d66;
    --nav-color-a: #dec790;
    --nav-color-a-hover: #b50d57;
    --nav-color-a-focus: #dec790;
    --hardskill-background-color: #b50d57;
    --progress-bar-change: #ff0d66;
    --experience-background-color: #3b205e;
    --experience-h3-color: #c3ccaf;
    --experience-h4-color: #c3ccaf;
    --experience-p-color: #c3ccaf;
    --experience-li-color: #c3ccaf;
    --project-background-color: #3b205e;
    --project-h2-color: #c3ccaf;
    --project-p-color: #c3ccaf;
    --project-h3-color: #c3ccaf;
    --project-li-color: #c3ccaf;
}

/* Tema claro */
[data-tema='light'] {
    --background-body: #fef5c8;
    --background-container: #dfdbdb;
    --color-body: #00988d;
    --background-sobre-mim: #2c6b74;
    --color-sobre-mim: #c3ccaf;
    --color-h1: #013750;
    --color-a: #f23e02;
    --background-footer: #2c6b74;
    --social-icons-color: #fef5c8;
    --social-icons-color-hover: #f23e02;
    --copy-right-color: #f23e02;
    --nav-color-a: #fef5c8;
    --nav-color-a-hover: #013750;
    --nav-color-a-focus: #fef5c8;
    --hardskill-background-color: #013750;
    --progress-bar-change: #00988d;
    --experience-background-color: #fff;
    --experience-h3-color: #333;
    --experience-h4-color: #333;
    --experience-p-color: #666;
    --experience-li-color: #333;
    --project-background-color: #fff;
    --project-h2-color: #333;
    --project-p-color: #666;
    --project-h3-color: #333;
    --project-li-color: #333;
}
